@page "/order-success"
@inject ICartService CartService

   <center>
        <MudText Typo="Typo.h5">
           Thanks! your order has been placed. You can check your orders <a href="/orders" >here</a>
        </MudText>
    </center>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCartItemsCount();
    }
}
