@page "/product/{id:int}"
@inject IProductService ProductSerivce

@if (product == null)
{
    <span>@message</span>
}
else
{

    <div class="d-flex flex-wrap flex-md-nowrap">
        <div class="flex-shrink-0 ms-3 flex-fill">
            <img class="w-100" src=@product.ImageUrl alt=@product.Title />
        </div>
        <div class="flex-grow-1 ms-3">
            <h2 class="mb-3 mt-3 mt-md-0">@product.Title</h2>
            <p class="mb-3">@product.Description</p>
            <h4 class="text-success">
                $@product.Price
            </h4>
        </div>
    </div>
}

@code {
    private Product? product = null;
    private string message;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading Product...";
        var result = await ProductSerivce.GetProduct(Id);

        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;
        }
    }
}
