
@inject HttpClient Http
<div class="container">
        <div class="row">
        @foreach (var product in Products)
        {
            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card overflow-hidden">
                    <img class="card-img-top media-img" src=@product.ImageUrl alt=@product.Title>
                    <div class="card-body">
                        <h4 class="card-title">@product.Title</h4>
                        <p class="card-text">@product.Description</p>
                        <h5 class="price">
                            $@product.Price
                        </h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
}
