
<div class="container">
        <div class="row">
        @foreach (var product in Products)
        {
            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card overflow-hidden">
                    <img class="card-img-top media-img" src=@product.ImageUrl alt=@product.Title>
                    <div class="card-body">
                        <h4 class="card-title">@product.Title</h4>
                        <p class="card-text">@product.Description</p>
                        <h5 class="price">
                            $@product.Price
                        </h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private static List<Product> Products = new List<Product>
    {
        new Product
        {
            Id = 1,
            Title = "Onda drömmar",
            Description = "Amelie Muscat arbetar som barnpsykolog. På en kurs har hon träffat Laura och blivit blixtförälskad. De flyttar ihop utan att egentligen känna varandra. När Amelie ska passa Lauras treårige son gör hon ett ödesdigert misstag. Sedan är pojken försvunnen",
            ImageUrl = "https://images.nextory.com/9789113101569.jpg?fit=clip&w=340",
            Price = 9.99m
        },
        new Product
        {
            Id = 2,
            Title ="Depphjärnan",
            Description = "Succéförfattaren och psykiatern Anders Hansen är tillbaka med en ny bok om hjärnan, där han reder ut varför vi mår så dåligt när vi har det så bra",
            ImageUrl = "https://images.nextory.com/9789178873708.jpg?fit=clip&w=340",
            Price = 9.99m
        },
        new Product
        {
            Id = 3,
            Title ="I dina händer",
            Description = "Det finns böcker som är så starka att man inte kan värja sig. ”I dina händer” av Malin Persson Giolito är en sådan bok.",
            ImageUrl = "https://images.nextory.com/9789146238393.jpg?fit=clip&w=340",
            Price = 9.99m
        }

    };
}
